<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <meta charset="utf-8">
    <title>Lit - About Us</title>
    <link href="static/about.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <a href="/"><img border="0" alt="LIT" src="static/lit.svg" width="150"
      height="150">
    </a>
    <div class="boxed">
    <h1>Our Mission:</h1>
    <p>To give everyone the power to navigate all of their favorite social media
    sites in one place.</p>
    <h1>About Us:</h1>
    <p>Our company, Alphabet, was created in Summer 2016 with a goal to change the social
    space as the world knows it.
    </p>
  </div>
  </body>
</html>
