<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <meta charset="utf-8">
    <title>Lit - About Us</title>
    <link href="static/about.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <!-- Adds logo up top -->
    <a href="/"><img border="0" alt="LIT" src="static/lit.svg" width="150"
      height="150">
    </a>
    <div class="boxed">
    <h1>Our Mission:</h1>
    <p>To give everyone the power to navigate all of their favorite social media
    sites in one place. There will never be a problem of having multiple tabs
    open for each social media account. NOW, there will be access to Reddit, Giphy,
    YouTube, and Instagram search on LIT.</p>
    <h1>About Us:</h1>
    <p>Our company, Alphabet, was created in Summer 2016, at the Seattle Google offices,
    with a goal to change the social media space as the world knows it. It was
    founded by <b>A</b>my Yee, <b>B</b>ryce Frey, and <b>C</b>lay Clark hence the company name Alphabet (ABC)
    </p>
  </div>
  </body>
</html>
