<!-- This template is for the front page of the website. Much like Google's front page, there should be (plans can always change) a main search bar, a logo, and in the future a login/sign-up corner. -->

<!-- New comments about the page as a whole, including questions, concerns, goals, etc. should be listed above this comment. -->

<!DOCTYPE html>
<html>
  <head>
    <!-- This is a tag Atom inserts by default (when autocomplete is used that is) but it is important because it improves cross-compatibility in some cases. -->
    <meta charset="utf-8">
    <!-- This is just the project name, so we do need to put the the final project name here for the page title. -->
    <title>Project Space Needle</title>
    <style media="screen">
      body {
        background: #E6E7E8;
      }
      h2 {
        color: #474747;
        text-align: center;
      }
      form {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <img src="static/lit.svg" alt="lit" width="25%" text-align='center'/>
    <!-- This is set up for a basic search bar and button. Eventually this needs variables and attributes modified to whatever the setup is. -->
    <form class="" action="reddit" method="get">
      <!-- This is currently set up with an input tag, do we want to use textarea instead? Also, attributes and variables need to be updated appropriately. -->
      <input type="text" name="search_input" value="" autofocus="True">
      <!-- Just the submit button. -->
      <input type="submit" name="submit" value="Search">
    </form>
  </body>
</html>
