<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Privacy Policy</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="static/privacypolicy.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <!-- Adds the logo up top -->
    <a href="/"><img border="0" alt="LIT" src="static/lit.svg" width="150"
      height="150">
    </a>
    <div class="boxed">
    <p>
    Lit is the final week project of Google CSSI attendees Amy Yee, Clay Clark, and Bryce Frey. Thus it not designed as a commercial site. User access is restricted to peoples with Instagram Developer Sandbox invites from our project. Because it is a project in active development, the user data collected and used may change over time. All users that accept our invite must be aware that we cannot at this time guarantee what data will be used and in what way.
  </p>
</div>
  </body>
</html>
