<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Privacy Policy</title>
  </head>
  <body>
    Lit is the final week project of Google CSSI attendees Amy Yee, Clay Clark, and Bryce Frey. Thus it not designed as a commercial site. User access is restricted to peoples with Instagram Developer Sandbox invites from our project. Because it is a project in active development, the user data collected and used may change over time. All users that accept our invite must be aware that we cannot at this time guarantee what data will be used and in what way.
  </body>
</html>
