<!-- This template is for reddit results. We decided that since reddit is the front page of the internet that it would be the front page of our project (unless a different one is made default by user login). Things that should be included on this page (as far as we have discussed) include (from the top, down) a search bar that (for new searchs and to potentially show the current search), a set of tabs to switch between results pages, and search results. -->

<!-- New comments about the page as a whole, including questions, concerns, goals, etc. should be listed above this comment. -->

<!DOCTYPE html>
<html>
  <head>
    <!-- This is a tag Atom inserts by default (when autocomplete is used that is) but it is important because it improves cross-compatibility in some cases. -->
    <meta charset="utf-8">
    <title>Reddit Results</title>
    <!-- needed for reddit embed posts to work -->
    <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
  </head>
  <body>
    <!-- This is set up for a basic search bar and button. Eventually this needs variables and attributes modified to whatever the setup is. -->
    <form class="" action="index.html" method="post">
      <!-- This is currently set up with an input tag, do we want to use textarea instead? Also, attributes and variables need to be updated appropriately. -->
      <textarea autofocus="True" name="search-input" rows="8" cols="40"></textarea>
      <!-- Just the submit button. -->
      <input type="submit" name="submit" value="Search">
    <br>
    <!-- Temporary links instead of tabs placed here. To be fixed in the future. -->
    <a href="/facebook">Facebook Results</a>
    <a href="/twitter">Twitter Results</a>
    <a href="/giphy">Giphy Results</a>
    <br>
    <!-- Search results should be displayed below here. -->

    <!-- <blockquote class="reddit-card" data-card-created="1469466396">
      <a href="https://www.reddit.com/r/pics/comments/4uijxc/dogs_are_not_allowed_on_nyc_subway_unless_theyre/?ref=share&ref_source=embed">Dogs Are Not Allowed On NYC Subway Unless They’re In A Carrier…So This Happened</a>
       from
       <a href="http://www.reddit.com/r/pics">pics</a>
     </blockquote>
     <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script> -->
    {% for post in posts %}
    <blockquote class="reddit-card" data-card-created={{timestamp}}>
      <a href={{post_href}}>{{title}}</a>
      <a href{{subreddit_href}}>{{subreddit_name}}</a>
    </blockquote>
    {% endfor %}

  </body>
</html>
