<!-- This template is for reddit results. We decided that since reddit is the front page of the internet that it would be the front page of our project (unless a different one is made default by user login). Things that should be included on this page (as far as we have discussed) include (from the top, down) a search bar that (for new searchs and to potentially show the current search), a set of tabs to switch between results pages, and search results. -->

<!-- New comments about the page as a whole, including questions, concerns, goals, etc. should be listed above this comment. -->

<!DOCTYPE html>
<html>
  <head>
    <!-- This is a tag Atom inserts by default (when autocomplete is used that is) but it is important because it improves cross-compatibility in some cases. -->
    <meta charset="utf-8">
    <title>Reddit Results</title>
    <!-- needed for reddit embed posts to work -->
    <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="static/giphy.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
  </head>
  <body>
    <div class="search_and_switch" style="z-index:1">
      <!-- Redirects to /giphy after search. -->

        <div id="heading">
          <!-- Creates the logo -->
          <h1><a href="/"><img src="static/lit.svg" alt="lit" style="height: 50px">Reddit</a></h1>
        </div>

    <!-- Encompasses the search and submit buttons -->
    <div class="search_and_submit">
      <br>
    <!-- Temporary links instead of tabs placed here. To be fixed in the future. -->
        <a href="/youtube">YouTube Results</a> &nbsp;
      <!--  <a href="/facebook">Facebook Results</a> &nbsp; -->
        <a href="/giphy">Giphy Results</a>
      <br>
      <form class="" action="reddit" method="get" >
        <!-- This is currently set up with an input tag, do we want to use textarea instead? Also, attributes and variables need to be updated appropriately. -->


        <input autofocus="True" name="search_input" type="text" placeholder="Enter your search"></input>

      </form>
    </div>
    </div>
    <div class="reddit_posts" style="z-index: 2">
    <br><br><br><br><br>
    {% for post in posts %}
      <blockquote class="reddit-card" data-card-created={{post['timestamp']}}>
        <a href={{post['post_href']}}>{{post['title']}}</a>
        <a href={{post['subreddit_href']}}>{{post['subreddit_name']}}</a>
      </blockquote>
    {% endfor %}
    </div>
  </body>
</html>
