* {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

body {
  text-align: center;
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cheap_diagonal_fabric.png);
}

.search_and_switch {
  background-color: black;
  opacity: .85;
  padding-bottom: 15px;
  width: 101%;
  margin-top: -20px;
  margin-left: -10px;
  position: fixed;
  box-shadow:0px 2px 5px #2E2E2E;
  text-align: center;
}

#heading {
  position: absolute;
  left: 20px;
  top: 5px;
  color: white;
}
.redirect a {
  color: white;
  font-size: .73em;
  margin-right: 2px;
}
