::-webkit-input-placeholder {
   color: white;
}

* {
  font-family: 'Libre Franklin', sans-serif;
  text-decoration: none;
}

body {
  text-align: center;
  background-color: white;
  font-size: 12px;
}

input[type=text] {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  outline: none;
  border-color: black;
  border-width: 1px;
  padding: 3px 3px 3px 10px;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 14px;
  width: 20%;
  text-align: left;

}

.search_and_switch {
  background-color: #FF4500;
  opacity: .85;
  padding-bottom: 15px;
  width: 101%;
  margin-top: -20px;
  margin-left: -10px;
  position: fixed;
  box-shadow:0px 2px 5px #2E2E2E;
  text-align: center;
}

.search_and_switch a:visited {
  color: black;
}

.search_and_submit {
  text-align: right;
  margin-right: 30px;
  margin-top: 5px;
}


#heading a {
  position: absolute;
  left: 40%;
  top: 25px;
  color: white;
  font-size: 16px;
}
